.wave-background-canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    pointer-events: none;
    opacity: 0.8;
}

[data-theme="light"] .wave-background-canvas {
    opacity: 0.4;
    filter: saturate(1.5);
}